.root {
  display: flex;
  height: 100%;
  overflow: auto;
  flex-direction: column;
}

/* .grid {
  padding: 8px;
  width: 100vw;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  grid-template-rows: 400px;
  grid-gap: 8px;
}

.gridItem {
  border: 1px solid #d4d4d4;
  border-radius: 8px;
  position: relative;
} */

.badge {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 3;
}

.item {
  border: 1px solid #d4d4d4;
  border-radius: 8px;
  width: 60%;
  height: 250px;
  margin: 20px auto;
  position: relative;

  overflow: auto;
}

.off {
  display: flex;
  justify-content: center;
  align-items: center;
}
