.root {
  display: flex;
  height: 100%;
  overflow: auto;
  flex-direction: column;
}

.tabPanel {
  width: 100%;
}

.badge {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 3;
}

.item {
  border: 1px solid #d4d4d4;
  border-radius: 8px;
  width: 60%;
  height: 250px;
  margin: 20px auto;
  position: relative;

  overflow: auto;
}

.off {
  display: flex;
  justify-content: center;
  align-items: center;
}
